@model IEnumerable<ProductListByCategoryViewModel>

@{
    ViewData["Title"] = "ListProductsByCategory";
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.categoryName Kategorisindeki Ürün Listesi</h4>
                <div class="card-description d-flex justify-content-between align-items-center">
                    <code>Kategori ile ilgili işlemlerinizi buradan yapabilirsiniz.</code>
                    <div class="none-border">
                        <a href="/Category/CategoryList/" class="btn btn-outline-info btn-rounded mr-2">Listeye Dön</a>
                        <a href="/Product/CreateProduct/" class="btn btn-outline-primary btn-rounded mr-2">Yeni Ürün Girişi</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ürün Adı</th>
                                <th>Ürün Fiyatı</th>
                                <th>Stok Durumu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.ProductName</td>
                                    <td style="font-family: Calibri">@item.ProductPrice.ToString("C2")</td>
                                    <td>@item.ProductStock</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>