<div class="row grid-margin">
    <div class="col-12">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fa fa-user mr-2"></i>
                            Müşteri Sayısı
                        </p>
                        <h2>@ViewBag.totalCustomerCount</h2>
                        <label class="badge badge-outline-success badge-pill">2.7% increase</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-sitemap mr-2"></i>
                            Toplam Kategori
                        </p>
                        <h2>@ViewBag.totalCategoryCount</h2>
                        <label class="badge badge-outline-danger badge-pill">30% decrease</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-cubes mr-2"></i>
                            Toplam Ürün Sayısı
                        </p>
                        <h2>@ViewBag.totalProductCount</h2>
                        <label class="badge badge-outline-success badge-pill">12% increase</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-credit-card mr-2"></i>
                            Ortalama Müşteri Bakiyesi
                        </p>
                        <h2 style="font-family: Calibri">@ViewBag.avgCustomerBalance.ToString("C2")</h2>
                        <label class="badge badge-outline-success badge-pill">57% increase</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-shopping-cart mr-2"></i>
                            Toplam Sipariş Sayısı
                        </p>
                        <h2>@ViewBag.totalOrderCount</h2>
                        <label class="badge badge-outline-success badge-pill">10% increase</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-truck mr-2"></i>
                            Sipariş Edilen Ürün
                        </p>
                        <h2>@ViewBag.sumOrderProductCount</h2>
                        <label class="badge badge-outline-danger badge-pill">16% decrease</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>